<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>something about food</title>
    <link type="text/css" rel="stylesheet" href="./css/index.css">
    <link type="text/css" rel="stylesheet" href="./css/reset.css">
    <script type="text/javascript" src="./js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <div class="head-div">
      <a href="login.html"></a>
      <div class="logo-div">
        <img class="logo-div-img" src="./images/index/logo_2x.png" />
      </div>
    </div>
    <div id="change_password" class="input-div">
      <form action="#" method="post" accept-charset="utf-8" style="height: 7.5rem">
           <img src="./images/index/head_2x.png"/> 
           <input type="text" id="username" placeholder="请输入账号" v-model="phone_number"><hr>
           <img src="./images/index/password_2x.png"/> 
           <input type="password" id="password" placeholder="请输入原密码" v-model="old_password"><hr>
           <img src="./images/index/password1-2x.png"/> 
           <input type="password" id="newpassword" placeholder="请输入新密码" v-model="new_password"><hr>
           <input type="button" value="修改密码" v-on:click="changePasswordFn">
           <a class="back-style change-password-login" href="login.html">登录</a>
           <a class="back-style change-password-index" href="index.html">注册</a>
      </form>
      <div class="error-tip" v-if="tip != null">{{tip}}</div>
    </div>
  </body>
  <script>
    var app = new Vue({
      el:'#change_password',
      data:{
        phone_number:null,
        old_password:null,
        new_password:null,
        tip:null
      },
      methods:{
        dealResponse:function(txt){
          var that = this;
          if(txt.code === 0){
            that.tip = "修改成功";
            setTimeout(function(){
              that.tip = null;
              window.location.href = "login.html";
            },1500);
          }
          else{
            that.tip = "修改失败";
            setTimeout(function(){
              that.tip = null;
            },1500);
          }
        },
        changePasswordFn:function(){
          var that = this;
          if(this.phone_number === null || this.old_password === null || this.new_password === null){
            this.tip = "信息不完整";
            setTimeout(function(){
              that.tip = null;
            },1500);
          }
          else{
            httpData.method = 'post';
            httpData.msg = {
              phone_number:this.phone_number,
              old_password:this.old_password,
              new_password:this.new_password
            };
            httpData.url = "http://139.199.66.15:5000/api/user/modify/password";
            httpData.dealFn = this.dealResponse;
            sendMessage.call(that,httpData);
          }
        }
      }
    });
  </script>
</html>
