<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <title>something about food</title>
      <link type="text/css" rel="stylesheet" href="./css/reset.css">
      <link rel="stylesheet" type="text/css" href="./css/publish.css">
      <script src="https://cdn.jsdelivr.net/npm/vue" type="text/javascript" charset="utf-8"></script>
      <script type="text/javascript" src="./js/main.js"></script>
  </head>
  <body>
    <div id="mainDiv">
      <header>
        <a href="rankList.html"></a>
      </header>
      <div class="form-div">
        <form>
          <div class="form-score laout1">
            <span class="title-txt">评分:</span>
            <input type="range" value="0" step="0.1" max="5" id="score" v-model="message.score">
            <div class="form-score-div">
              <span class="score-txt">{{message.score}}</span> 
            </div>       
          </div>
          <div class="form-site laout1">
            <span class="title-txt">美食名称:</span>
            <input type="text" id="name" v-model="message.name">
            <span class="foot-txt">(10字以内)</span>
          </div>
          <div class="form-score laout1">
            <span class="title-txt">发现地点:</span>
            <input type="text" id="site" v-model="message.site">
            <div class="form-score-div">
              <input type="button" v-on:click="showSelectSite">
              </input>
            </div>
            <div class="select-site" v-if="select_site">
              <input type="button" value="商业街" @click="selectSite($event)">
              <input type="button" value="一食堂" @click="selectSite($event)">
              <input type="button" value="二食堂" @click="selectSite($event)">
              <input type="button" value="一食堂三楼" @click="selectSite($event)">
              <input type="button" value="三食堂" @click="selectSite($event)">
              <input type="button" value="四食堂" @click="selectSite($event)">
              <input type="button" value="四食堂三楼" @click="selectSite($event)">
              <input type="button" value="六食堂" @click="selectSite($event)">
              <input type="button" value="七食堂" @click="selectSite($event)">
              <input type="button" value="九食堂" @click="selectSite($event)">
              <input type="button" value="十食堂" @click="selectSite($event)">
              <input type="button" value="九食堂三楼" @click="selectSite($event)">
              <input type="button" value="其他地点" @click="selectSite($event)">
            </div>
          </div>
          <div class="form-site laout1">
            <span class="title-txt">店铺名称:</span>
            <input type="text" id="shop" v-model="message.shop">
            <span class="foot-txt">(10字以内)</span>
          </div>
          <div class="form-content laout1">
            <span class="title-txt form-content-span">我的评价:</span>
            <textarea id="myContent" v-model="message.content"></textarea>
            <div>
            </div>
          </div>
          <div class="form-img" id="addImg">
            <span class="title-txt form-content-span">我的图片:</span>
            <div>
              <input type="file" id="img" accept="image/*" v-on:change="showImg">
            </div>
          </div>
          <div class="form-publish">
            <input type="button" value="发布" @click="publishButton">
          </div>
        </form>
        <div class="tip" v-if="tip">
          {{tipTxt}}
        </div>
      </div>
      <div class="z_mask" v-if="removeTip">
        <!--弹出框-->
        <div class="z_alert">
          <p>确定要删除这张图片吗？</p>
          <p>
            <span class="z_cancel" @click="cancelRemove">取消</span>
            <span id="z_sure" @click="sureRemove">确定</span>
          </p>
        </div>
      </div>
      <footer>
      </footer>
    </div>
  </body>
  <script>
    var app = new Vue({
      el:'#mainDiv',
      data:{
          message:{
            score:0,
            content:null,
            name:null,
            site:null,
            shop:null,
            img:null
          },
          select_site:0,
          tip:false,
          tipTxt:null,
          removeTip:false
      },
      methods:{
        dealResponse:function(txt){
          if(txt.code == 0){
            this.tipTxt = '发布成功';
            this.tip = true;
            var that = this;
            setTimeout(function(){
              that.tip = false;
              window.location.href = "comment.html?" + 'id=' + txt.fid;
            },1500)
          }
          else{
            this.tipTxt = '发布失败';
            this.tip = true;
            var that = this;
            setTimeout(function(){
              that.tip = false;
            },1500)
          }
        },
        showSelectSite:function(){
          this.select_site = !this.select_site;
        },
        selectSite:function(event){
          this.message.site = event.currentTarget.getAttribute('value');
          this.select_site = !this.select_site;
        },
        showImg:function(){
          var imgContainer = document.getElementById("addImg");
          var file = document.getElementById("img");
          var imgUrl = window.URL.createObjectURL(file.files[0]);
          var img = document.createElement("img");
          img.setAttribute("src", imgUrl);
          var imgAdd = document.createElement("div");
          imgAdd.setAttribute("id","img-div");
          imgAdd.appendChild(img);
          imgContainer.appendChild(imgAdd);
          this.removeImg();
        },
        sureRemove:function(){
          var parent = document.getElementById("addImg");
          var child = document.getElementById("img-div");
          parent.removeChild(child);
          this.removeTip = false;
        },
        cancelRemove:function(){
          this.removeTip = false;
        },
        removeImg:function(){
          var imgDiv = document.getElementById("img-div");
          var that = this;
          imgDiv.onclick = function(){
            that.removeTip = true;
          }
        },
        publishButton:function(){
          console.log(1)
          this.message.img = document.getElementById("img").files[0];
          httpData.method = 'post';
          httpData.url = 'http://116.196.123.49:8080/api/newComment';
          httpData.msg = this.message;
          httpData.dealFn = this.dealResponse;
          var that = this;
          form.call(that,httpData);
        }
      }
    });
  </script>
</html>