<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>something about food</title>
    <link type="text/css" rel="stylesheet" href="./css/reset.css">
    <link type="text/css" rel="stylesheet" href="./css/rankList-user.css">
    <script src="https://cdn.jsdelivr.net/npm/vue" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="./js/main.js"></script>
  </head>
  <body>
    <div id="mainDiv">
      <div class="orange-bg">
        <header>
          <img src="./images/ranklist/logo-2x.png" alt="logo">
          <div>
            <a class="current-page">排行</a>
            <a href="summary.html">汇总</a>
            <a href="user.html">我的</a>
          </div>
        </header>
        <div id="head_range">
          <div class="range">
            <div class="range-two">
              <img class="range-two-logo" src="./images/ranklist/silvery_crown-2x.png" alt="第三名">
              <img class="range-two-user" v-bind:src="rank_user[2].foodImg" alt="用户头像">
              <font>{{rank_user[2].foodName}}</font>
            </div>
            <div class="range-one">
              <img class="range-one-logo" src="./images/ranklist/yellow_crown-2x.png" alt="第一名">
              <img class="range-one-user" v-bind:src="rank_user[0].foodImg" alt="用户头像">
              <font>{{rank_user[0].foodName}}</font>
            </div>
            <div class="range-two">
              <img class="range-two-logo" src="./images/ranklist/coppery_crown-2x.png" alt="第二名">
              <img class="range-two-user" v-bind:src="rank_user[1].foodImg" alt="用户头像">
              <font>{{rank_user[1].foodName}}</font>
            </div>
          </div>
          <div class="range-method">
            <div>
              <img src="./images/ranklist/reorder-2x.png" alt="评分">
              <button class="range-method-button" v-on:click="scoreButton" v-bind:class="{'current-button': !timeOrScore}">评分</button>
            </div>
            <div>
              <img src="./images/ranklist/reorder-2x.png" alt="评分">
              <button class="range-method-button" v-on:click="timeButton" v-bind:class="{'current-button': timeOrScore}">时间</button>
            </div>
          </div>
        </div>
      </div>
      <div id="rest_range">
        <div class="other-range" v-for="item in rank_user" v-if="item.rank > 3">
          <div class="num">
            <p>{{item.rank}}</p>
          </div>
          <div class="food-msg" id="item.fid" @click="foodClick($event)">
            <img v-bind:src="item.foodImg" alt="美食">
            <div id="about_food">
              <div class="food-name">
                <span>{{item.foodName}}</span>
                <p>{{item.foodSite}}</p>
              </div>
              <div class="score">
                <span>{{item.score}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="add-button" v-on:click="addButton"></button>
    </div>
  </body>
  <script>
    var rank = new Vue({
      el:'#mainDiv',
      data:{
        timeOrScore:0,
        rank_user:[{
          rank:null,
          score:null,
          foodName:null,
          foodSite:null,
          foodShop:null,
          foodImg:null,
          fid:null
        }]
      },
      methods:{
        dealResponse:function(txt){
          if(txt.code == 0){
            this.rank_user.splice(0,this.rank_user.length);
            for(var i = 0; i < txt.data.length; i++){
              this.rank_user.push(txt.data[i]);
            }      
          }
          else{
            window.location.href = "login.html";
          }    
        },
        foodClick:function(event){
          window.location.href = "comment.html?" + 'id=' + event.currentTarget.getAttribute("id");
        },
        scoreButton:function(){
          this.timeOrScore = 0;
          var that = this;
          httpData.method = 'get';
          httpData.dealFn = this.dealResponse;
          httpData.url = addURL('http://116.196.123.49:8080/api/rank','p','score');2
          sendMessage.call(that,httpData);
        },
        timeButton:function(){
          this.timeOrScore = 1;
          var that = this;
          httpData.url = addURL('http://116.196.123.49:8080/api/rank','p','time');
          sendMessage.call(that,httpData);
        },
        
        addButton:function(){  
          var that = this;
          httpData.method = 'get';
          httpData.url = addURL('http://139.199.66.15:5000/api/track','request','true');
          httpData.dealFn = function(txt){
            if(txt.code != 0){
              window.location.href = "login.html";
            }
            else{
              window.location.href = "publish.html";
            }
          }
          sendMessage.call(that,httpData);
        }
      },
      created:function(){
        var that = this;
        httpData.method = 'get';
        httpData.url = 'http://116.196.123.49:8080/api/rank';
        httpData.dealFn = this.dealResponse;
        sendMessage.call(that,httpData);
      }
    })
  </script>
</html>