<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <title>something about food</title>
      <link type="text/css" rel="stylesheet" href="./css/reset.css">
      <link type="text/css" rel="stylesheet" href="./css/summary.css">
      <script src="https://cdn.jsdelivr.net/npm/vue" type="text/javascript" charset="utf-8"></script>
      <script type="text/javascript" src="./js/main.js"></script>
  </head>
  <body>
    <div id="mainDiv">
      <header>
        <img src="./images/ranklist/logo-2x.png" alt="logo">
        <div>
          <a href="rankList.html">排行</a>
          <a class="current-page">汇总</a>
          <a href="user.html">我的</a>
        </div>
      </header>
      <div id="details">
        <aside>
          <div class="canteens">
            <input id="syj" type="button" value="商业街" @click="siteButton($event)">
            <input id="yst" type="button" value="一食堂" @click="siteButton($event)">
            <input id="est" type="button" value="二食堂" @click="siteButton($event)">
            <input id="ystsl" type="button" value="一食堂三楼" @click="siteButton($event)">
            <input id="sanst" type="button" value="三食堂" @click="siteButton($event)">
            <input id="sist" type="button" value="四食堂" @click="siteButton($event)">
            <input id="sstsl" type="button" value="四食堂三楼" @click="siteButton($event)">
            <input id="lst" type="button" value="六食堂" @click="siteButton($event)">
            <input id="qst" type="button" value="七食堂" @click="siteButton($event)">
            <input id="jst" type="button" value="九食堂" @click="siteButton($event)">
            <input id="shist" type="button" value="十食堂" @click="siteButton($event)">
            <input id="jstsl" type="button" value="九食堂三楼" @click="siteButton($event)">
            <input id="others" type="button" value="其他" @click="siteButton($event)">
          </div>
          <div class="logo">
            <img src="./images/publish/home-2x.png" alt="logo">
          </div>
        </aside>
        <div class="shops">
          <div class="shop" v-for="item in foods">
            <div class="shop-name">
              <div class="shop-name-txt">
                {{item[0].shop}}
              </div>
              <div class="shop-name-icon"></div>
            </div>
            <div class="food" v-for="todo in item" v-bind:id="todo.id" @click="foodNameButton($event)">
              <img src="./images/publish/hot-2x.png" v-if="todo.is_hot">
              {{todo.food_name}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    var app = new Vue({
      el:"#mainDiv",
      data:{
        foods:[
          [
            {
              id:null,
              food_name:null,
              shop:null,
              is_hot:true
            }
          ]
        ],
        requestId:null
      },
      methods:{
        dealResponse:function(txt){
          if(txt.code === 0){
            this.foods.splice(0,this.foods.length);
             for(item in txt.foods){
              this.foods.push(txt.foods[item]);
            }
          }
        },
        foodNameButton:function(event){
          this.requestId = event.currentTarget.getAttribute('id');
          window.location.href = 'comment.html?'+'id='+this.requestId;
        },
        siteButton:function(event){
          var that = this;
          var site = event.currentTarget.getAttribute('id');
          httpData.url = "http://139.199.66.15:5000/api/all_food/";
          httpData.url += site;
          httpData.dealFn = this.dealResponse;
          sendMessage.call(that,httpData);
        }
      },
      created:function(){
        var that = this;
        httpData.method = "get";
        httpData.url = "http://139.199.66.15:5000/api/all_food/";
        httpData.url += 'ystsl';
        httpData.dealFn = this.dealResponse;
        sendMessage.call(that,httpData);
      }
    })
  </script>
</html>